@import "tailwindcss";

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(40px, -60px) scale(1.15);
  }
  66% {
    transform: translate(-30px, 30px) scale(0.85);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 4s ease-in-out infinite;
}

.animation-delay-2000 {
  animation-delay: 1s;
}

.animation-delay-4000 {
  animation-delay: 2s;
}
