@import './fonts.css';
@import './tailwind.css';
@import './theme.css';


@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

.float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}
